@model IEnumerable<FrontendMVC.Models.Enrollment>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-4">List Enrollments</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">Enrollments</li>
</ol>


<div class="container">
    <div class="row">
        <div class="card-mb-4">
            <div class="card-body">
                <p>
                    <a class="btn btn-primary" asp-action="Create">Create New</a>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.EnrollmentID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Student.FirstMidName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Course.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Grade)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EnrollmentID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StudentID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CourseID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Grade)
                                </td>
                                <td>
                                    <a class="btn btn-warning btn-sm" asp-action="Update" asp-route-id="@item.EnrollmentID">Update</a>
                                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.EnrollmentID">Details</a>
                                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.EnrollmentID">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>