@model IEnumerable<FrontendMVC.Models.StudentWithEnrollment>

@{
    ViewData["Title"] = "WithEnrollment";
}

<h1 class="mt-4">Student Enrollment List</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">Students ENrollment</li>
</ol>


<div class="container">
    <div class="row">
        <div class="card-mb-4">
            <div class="card-body">

                <div class="container">
                    <div class="mb-3 mt-3">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" id="Search" placeholder="Search" class="form-control" />
                        </div>
                    </div>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstMidName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EnrollmentDate)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="Search">
                                <td>
                                    @Html.DisplayFor(modelItem => item.ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstMidName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                                </td>
                                <td>
                                    @foreach (var enrollment in item.Enrollments)
                                    {
                                        <p>@enrollment.CourseID</p>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <script src="~/lib/jquery/dist/jquery.min.js"></script>

                <script>
                    $(document).ready(function () {
                        function Contains(text_one, text_two) {
                            if (text_one.indexOf(text_two) != -1)
                                return true;
                        }
                        $("#Search").keyup(function () {
                            let searchText = $("#Search").val().toLowerCase();
                            $(".Search").each(function () {
                                if (!Contains($(this).text().toLowerCase(), searchText)) {
                                    $(this).hide();
                                } else {
                                    $(this).show();
                                }
                            })
                        })
                    })
                </script>
            </div>
        </div>
    </div>
</div>